@"
# Flutter/Dart general
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
build/
coverage/
generated_plugin_registrant.dart

# IDEs y editores
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/captures/
android/local.properties
android/.idea/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/engine/
Flutter.framework
App.framework

# Web
build/web/
web/.dart_tool/

# Linux
linux/flutter/
linux/.dart_tool/
linux/.idea/

# Windows
windows/flutter/
windows/.dart_tool/
windows/.idea/

# macOS
macos/flutter/
macos/.dart_tool/
macos/.idea/

# Intellij config files
*.ipr
*.iws
*.bak
*.swp

# APK, IPA, binaries
*.apk
*.ipa
*.dill
*.so
*.tar.gz
*.zip
*.exe

# Crashlytics
crashlytics-build.properties

# Firebase
firebase_app_id_file.json
"@ | Set-Content .gitignore

/lib/services/
.env
huella_certificado.txt
Cus_Movil.jks
